#root {
  font-family: sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.star-wars {
  background-color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* star wors background made with gradients */

  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
